
body {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
}
.loader {
  width: 200px;
  height: 80px;
  padding-top: 40vh;
  margin: auto;
  display: flex;
}
.circle {
  width: 30px;
  height: 30px;
  background: teal;
  border-radius: 50%;
  animation: jump 1s linear infinite;
  margin: 0 15px;
}
.caption {
  margin: auto;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
#b {
  animation-delay: 0.2s;
}
#c {
  animation-delay: 0.4s;
}
@keyframes jump {
  0% {
    margin-top: 0;
  }
  35% {
    margin-top: -75px;
  }
  70% {
    margin-top: 0px;
  }
}
