.profile {
  display: flex;
  justify-content: center;
}

.left-side {
  flex-basis: 50%;
  position: relative;
}

#pokemon {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  max-width: 225px;
  width: 225px;
  height: 225px;
  transition: all 0.2s;
}

.right-side {
  position: relative;
  flex-basis: 40%;
  padding: 5px 25px;
  background-color: whitesmoke;
  border-radius: 25px;
  margin: 50px;
  min-height: 300px;
  max-height: 350px;
}

.label {
  text-align: left;
  margin-bottom: 10px;
}

.biodata {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.biodata .item {
  flex-basis: 50%;
}

.biodata .item h5 {
  margin-bottom: 0px;
}

.container-status {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: wrap;
}

.container-btn {
  text-align: center;
  padding: 15px 0px;
}

.button {
  background: teal;
  color: white;
  font-weight: bold;
  width: calc(100% - 10px);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  height: 25px;
  cursor: pointer;
  transition: all 0.25s;
  font-size: 16px;
}

.button:hover {
  height: 30px;
  font-size: 18px;
}

.pokeball,
.pokeball:before,
.pokeball:after,
.pokeball__button,
.pokeball__button:before,
.pokeball__button:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Poké Styles */
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  margin-left: calc(50% - 100px);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  margin-top: 150px;
}
.pokeball::before,
.pokeball::after {
  left: 0px;
  content: "";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}
.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink 1.25s infinite;
}
/* Animation */
@keyframes blink {
  0% {
    background: #eee;
  }
  50% {
    background: #e74c3c;
  }
  100% {
    background: #eee;
  }
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-20px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(20px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes fall {
  0% {
    top: -200px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

/* Small screens */

@media only screen and (max-width: 600px) {
  .profile {
    flex-wrap: wrap;
  }
  .left-side {
    flex-basis: 100%;
  }
  .right-side {
    flex-basis: 100%;
    min-height: 350px;
    margin: 10px;
  }

  #pokemon {
    top: calc(50% - 100px);
    left: calc(50% - 120px);
  }

  .container-status {
    margin: auto;
    margin-bottom: 100px;
  }
}
