.pokedex-item {
    margin: 15px 10px;
    padding: 25px;
    /* max-width: 250px; */
    min-width: 200px;
    border-radius: 25px;
    background-color: ghostwhite;
    flex-basis: 20%;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    opacity: 1;
}

.container-tag {
    display: flex;
}

.pokedex-item:hover {
    background-color: lightgray;
}

.pokedex-item:hover .btn-delete {
    transform: translate(0px, -5px);
    opacity: 1;
}

.btn-delete {
    transition: all 0.25s;
    background-color: #d30000;
    width: 150px;
    color: white;
    border-radius: 25px;
    padding: 5px 0px;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
    opacity: 0.5;
}