.statusbar {
    margin: 15px;
    width: 4vw;
    font-weight: bold;
}

.block {
    border: 1px solid lightgray;
    height: 15px;
    margin: 5px 0px;
    background-color: lightgray;
    border-radius: 5px;
}

.block.active {
    background-color: teal;
    border-color: teal;
}

/* Small screens */

@media only screen and (max-width: 600px) {
    .statusbar{
        flex-basis: 15%;
    }
}